/*  your css code here. If applicable */
:root{
	background-color:skyblue;
	
}
p:first-child{
	background-color:black;
	color:white;
}
.lastpara{
	color:red;
}
li:first-child{
	background-color:white;
}
li:last-child{
	background-color:white;
}
li:nth-child(2n){
	background-color:gray;
	
}
li:nth-child(3){
	background-color:pink;
	
}







